<p>Order Id: <%= @order.id %></p>
<h2>Your Shopping List:</h2>
<br>
<ul>
<% @order.shopping_list.each do |name,attributes| %>
  <li><%="#{remove_if_not_plural(attributes[:quantity])} #{attributes[:measurement]} of #{name}" %></li>
<% end %>
</ul>
<br>
<ul>
<% @ingredients.each do |i| %>
  <li><%= i.quantity %> <%= plural?(i) ? i.measurement.pluralize : i.measurement.singularize %> of <%= i.name %></li>
<% end %>
</ul>