<p>Order Id: <%= @order.id %></p>
<h2>Your Shopping List:</h2>
<ul>
<% @ingredients.each do |i| %>
  <li><%= i.quantity if i.quantity != 0%> <%= i.unit %><%='s' if i.quantity > 1 %> of <%= i.name %></li>
<% end %>
</ul>